<template>
	<v-app>
		<alert></alert>

		<!-- <v-dialog v-model="dialog" fullscreen hide-overlay transition="scale-transition">
			<search @closed="closeDialog"/>
		</v-dialog> -->

		<keep-alive>
			<v-dialog v-model="dialog" fullscreen hide-overlay persistent transition="scale-transition">
				<compnent :is="currenComponent" @closed="setDialogStatus"></compnent>
			</v-dialog>
		</keep-alive>
	  	<v-navigation-drawer app v-model="drawer">
			<v-list>
				<div v-if="!guest">
					<v-list-item>
						<v-list-item-avatar>
							<v-img :src="user.user.photo"></v-img>
						</v-list-item-avatar>
						<v-list-item-content>
							<v-list-item-title>
								{{user.user.name}}
							</v-list-item-title>
						</v-list-item-content>
						<!-- <v-btn @click="setDialogComponent('edit')" icon><v-icon>mdi-settings</v-icon></v-btn> -->
					</v-list-item>
				</div>

				<div class="pa-2" v-if="guest">
					<v-btn block color="primary" class="mb-1" @click="setDialogComponent('login')">
						<v-icon left>mdi-lock</v-icon>
						Login
					</v-btn>
					<v-btn block color="success" class="mb-1" @click="setDialogComponent('register')">
						<v-icon left>mdi-account</v-icon>
						Register
					</v-btn>
				</div>

				<v-divider></v-divider>

				<v-list-item
					v-for="(item,index) in menus"
					:key="`menu-`+index"
					:to="item.route" 
				>
					<v-list-item-icon>
						<v-icon left>{{ item.icon}}</v-icon>
					</v-list-item-icon>

					<v-list-item-content>
						<v-list-item-title>{{item.title}}</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
			</v-list>

			<template v-slot:append v-if="!guest">
				<div class="pa-2">
					<v-btn block color="red" dark @click="logout">
						<v-icon left>mdi-lock</v-icon>
						Logout
					</v-btn>
				</div>
			</template>
	  	</v-navigation-drawer>

	  	<v-app-bar app color="#6495ED" dark v-if="isHome">
	    	<v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

	    	<v-toolbar-title><a href="/" style="text-decoration: none; color:white">GmiDonasiApp</a></v-toolbar-title>

	    	<v-spacer></v-spacer>

	    	<v-btn icon>
	    		<v-badge color="orange" v-if="transactions >0" overlap>
			        <template v-slot:badge>
			            <span>{{transactions}}</span>
			        </template>
			        <v-icon>mdi-cash-multiple</v-icon>
			    </v-badge>
			    <v-icon v-else>mdi-cash-multiple</v-icon>
	    	</v-btn>

	    	<v-text-field
	    		@click="setDialogComponent('search')"
	    		slot="extension"
	    		hide-details
	    		append-icon="mdi-microphone"
	    		flat
	    		label="Search"
	    		prepand-inner-icon="mdi-magnify"
	    		solo-inverted
	    	>

	    	</v-text-field>
	  	</v-app-bar>

	  	<v-app-bar app color="#6495ED" dark v-else>
	    	<v-btn icon @click.stop="$router.go(-1)">
	    		<v-icon>mdi-arrow-left-circle</v-icon>
	    	</v-btn>

	    	<v-spacer></v-spacer>

	    	<v-btn icon>
	    		<v-badge color="orange" v-if="transactions >0" overlap>
			        <template v-slot:badge>
			            <span>{{transactions}}</span>
			        </template>
			        <v-icon>mdi-cash-multiple</v-icon>
			    </v-badge>
			    <v-icon v-else>mdi-cash-multiple</v-icon>
	    	</v-btn>
	  	</v-app-bar>

	  	<v-main>
	    	<v-container fluid>
	     		<v-slide-y-transition>
	      			<router-view></router-view>
	      		</v-slide-y-transition>
	    	</v-container>
	  	</v-main>

	  	<v-card>
	    	<v-footer absolute app>
	    		<v-card-text class="text-center">
	    			&copy;{{new Date().getFullYear()}} - <strong>GmiDonasiApp</strong>
	    		</v-card-text>
	    	</v-footer>
	  	</v-card>
	</v-app>
</template>

<script>
	import {mapGetters, mapActions} from 'vuex'

	export default{
		name: 'App',
		components : {
			alert: () => import('./components/Alert'),
			search: () => import('./components/Search'),
			login: () => import('./components/Login'),
			register: () => import('./components/Register'),
			edit: () => import('./components/Edit'),
		},
		data: () => ({
			drawer: false,
			menus: [
				{
					title: 'Home',
					icon: 'mdi-home',
					route: '/'
				},
				{
					title: 'Campaigns',
					icon: 'mdi-hand-heart',
					route: '/campaign'
				},
				{
					title: 'Blogs',
					icon: 'mdi-book-open',
					route: '/blog'
				},
			],
		}),
		computed: {
			isHome(){
				return(this.$route.path === '/' || this.$route.path === '/home')
			},
			...mapGetters({
				'transactions' 		: 'transaction/transactions',
				'guest' 			: 'auth/guest',
				'user' 				: 'auth/user',
				'dialogStatus' 		: 'dialog/status',
				'currenComponent' 	: 'dialog/component',
			}),
			dialog: {
				get (){
					return this.dialogStatus
				},
				set (value){
					this.setDialogStatus(value)
				}
			},
		},
		methods: {
			...mapActions({
				setResetTransaction: 'transaction/reset',
				setDialogStatus: 'dialog/setStatus',
				setDialogComponent: 'dialog/setComponent',
				setAuth: 'auth/set',
				setAlert: 'alert/set',
				checkToken: 'auth/checkToken',
			}),
			logout(){
				let config ={
					headers: {
						'Authorization' : 'Bearer '+this.user.token,
					},
				}
				axios.post('/api/auth/logout',{} ,config)
					.then((response) =>{
						this.setAuth({})
						this.setAlert({
							status: true,
							color: 'success',
							text: 'Logout successfully'
						})
						this.setResetTransaction()
					})
					.catch((error)=>{
						let {data} = error.response
						this.setAlert({
							status: true,
							color: 'error',
							text: data.message
						})
					})
			}
		},
		mounted(){
			if(this.user){
				this.checkToken(this.user)
			}
		}
	}
</script>