<template>
    <div>
        <v-container class="ma-0 pa-0" grid-list-sm>
            <v-subheader>
                All Blogs
            </v-subheader>
            <v-layout wrap>
                <v-flex v-for="(blog,index) in blogs" :key="`blog-`+blog.id" xs6>
                    <v-card :to="`blog/`+blog.id">
                        <v-img
                            :src="blog.image"
                            class="black--text"
                            contain
                            height ="180"
                        >
                            <v-card-title
                                class="fill-height align-end"
                                v-text="blog.title"
                            >
                            </v-card-title>
                        </v-img>
                    </v-card>
                </v-flex>
            </v-layout>
            <v-pagination
                v-model="page"
                @input="go"
                :length="lengthPage"
                :total-visible="6"
            >
            </v-pagination>
        </v-container>
    </div>
</template>

<script>
    export default {
        data: () => ({
            blogs: [],
            page: 0,
            lengthPage: 0
        }),
        created(){
            this.go()
        },
        methods:{
            go(){
                let url = 'api/blog?page='+this.page

                axios.get(url)
                .then(response =>{
                    let{data} = response.data
                    this.blogs = data.blogs.data
                    this.lengthPage = data.blogs.last_page
                    this.page = data.blogs.current_page
                })
                .catch(error => {
                    let{response} = error
                    console.log(error)
                })
            }
        }
    }
</script>