<template>
    <div>
        <v-card v-if="campaign.id">
            <v-img
                :src="campaign.image"
                class="white--text"
                height="200px"
            >
            </v-img>

            <v-card-text>
                <h4>{{campaign.title}}</h4>
                <v-simple-table dense>
                    <tbody>
                        <tr>
                            <td><v-icon>mdi-home-city</v-icon>Alamat</td>
                            <td>{{campaign.address}}</td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-hand-heart</v-icon>Terkumpul</td>
                            <td class="blue--text">Rp {{campaign.collected.toLocaleString()}}</td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-cash</v-icon>Dibutuhkan</td>
                            <td class="orange--text">Rp {{campaign.required.toLocaleString()}}</td>
                        </tr>
                    </tbody>
                </v-simple-table>
                Description: <br>
                {{campaign.description}}
            </v-card-text>
            <v-card-actions v-if="getUser">
                <v-btn @click="donate" color="primary" block>Donate</v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
    import {mapGetters, mapMutations, mapActions} from 'vuex'

    export default {
        data: () => ({
            campaign: {},
        }),
        created(){
            this.go()
        },
        computed: {
            ...mapGetters({
                'guest'             : 'auth/guest',
                'user'              : 'auth/user',
            }),
            getUser(){
                if(this.user.user){
                    return true
                }
                false
            }
        },
        methods:{
            go(){
                let {id} = this.$route.params
                let url = '/api/campaign/'+id

                axios.get(url)
                .then(response =>{
                    let{data} = response.data
                    this.campaign = data.campaign
                })
                .catch(error => {
                    let{response} = error
                    console.log(error)
                })
            },
            // ...mapMutations({
            //     'donate' : 'transaction/insert'
            // })

            ...mapMutations({
                tambahTransaksi: 'transaction/insert'
            }),

            ...mapActions({
                setAlert: 'alert/set',
                checkToken: 'auth/checkToken',
            }),

            donate(){
                this.tambahTransaksi()
                this.setAlert({
                    status: true,
                    color: 'success',
                    text: 'Transaksi ditambahkan'
                })
            }
        }
    }
</script>