<template>
    <v-badge color="orange" v-if="transaction =0" overlap>
        <template v-slot:badge>
            <span>{{badgeValue}}</span>
        </template>
        <v-icon>mdi-cash-multiple</v-icon>
    </v-badge>
    <v-icon v-else>mdi-cash-multiple</v-icon>
</template>

<script>
    export default {
        mounted() {
            console.log("berhasil")
        },
        computed: {
            badgeValue(){
                return this.$store.getters.transaction
            }
        }
    }
</script>