<template :item="{campaign}">
    <v-card class="d-flex flex-column" :to="`campaign/`+campaign.id" height="350" width="200">
        <v-img
            :src="campaign.image"
            class="black--text"
            height ="200"
            width ="200"
            contain
        >
        </v-img>
        <v-card-actions class="my-auto">
            <span>{{campaign.title}} </span>
        </v-card-actions>
        <v-card-actions class="mt-auto mb-0">
            <v-progress-linear
                v-model ="progress"
                color="blue-grey"
                height="10"
                width="10"
            >
            </v-progress-linear>
        </v-card-actions>
        <v-card-actions class="mt-0 mb-0">
            <v-icon>mdi-cash</v-icon>
            <span>Rp {{campaign.required.toLocaleString()}} </span>
            <v-spacer></v-spacer>
            <span>{{progress}} %</span>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        mounted() {
            // console.log(this.progress)
        },
        props: [
            'campaign'
        ],
        computed: {
            progress(){ 
                return Math.round((this.campaign.collected/this.campaign.required)*100)
            }
        }
    }
</script>