<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Profile</v-toolbar-title>
        </v-toolbar>

        <v-divider></v-divider>

        <v-container fluid>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                    v-model="name"
                    label="Name"
                    required
                    append-icon="mdi-account-box"
                >
                </v-text-field>

                <v-text-field
                    v-model="photo"
                    label="Profile Picture"
                    required
                    append-icon="mdi-account-box"
                >
                </v-text-field>

                <div class="text-xs-center">
                    <v-btn
                        color="success lighten-1"
                        :disabled="!valid"
                        @click="submit"
                    >
                        Submit
                        <v-icon right dark>mdi-lock-open</v-icon>
                    </v-btn>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: 'edit',
        data(){
            return {
                valid: true,
                photo: '',
                name: '',
            }
        },
        computed: {
            ...mapGetters({
                'user'              : 'auth/user',
            }),
        },
        methods: {
            ...mapActions({
                setAlert : 'alert/set',
                setAuth: 'auth/set',
            }),
            submit(){
                if(this.$refs.form.validate()){
                    let formData = {
                        'photo' : this.photo,
                        'name'  : this.name
                    }

                    let config ={
                      headers: {
                        'Authorization' : 'Bearer '+this.user.token,
                      },
                    }

                    axios.post('api/profile/update-profile', formData, config)
                    .then((response)=>{
                        let data = response.data
                        // console.log(data.response_code)
                        if(data.response_code == '00'){
                            // console.log(response)
                            this.setAlert({
                                status: true,
                                color: 'success',
                                text: 'Profile update success'
                            })
                            console.log(data.data.user)
                            this.name = data.data.user.name
                            this.photo = data.data.user.photo
                        } else {
                            this.setAlert({
                                status: true,
                                color: 'error',
                                text: 'Profile update failed'
                            })
                        }
                        // this.close()
                    })
                    .catch((error)=>{
                        let responses = error.response

                        this.setAlert({
                            status: true,
                            text: responses.data.error,
                            color: 'error'
                        })
                    })
                }
            },
            close(){
                this.$emit('closed', false)
            }
        },
        mounted(){
            this.name = this.user.user.name
            this.photo = this.user.user.photo
        }
    }
</script>