<template>
    <v-card>
        <v-toolbar dark color="#6495ED">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Register</v-toolbar-title>
        </v-toolbar>

        <v-divider></v-divider>

        <v-container fluid>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                    v-model="name"
                    label="Name"
                    required
                    append-icon="mdi-account-box"
                >
                </v-text-field>
                <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail"
                    required
                    append-icon="mdi-email"
                >
                </v-text-field>

                <div class="text-xs-center">
                    <v-btn
                        color="success lighten-1"
                        :disabled="!valid"
                        @click="submit"
                    >
                        Submit
                        <v-icon right dark>mdi-lock-open</v-icon>
                    </v-btn>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: 'register',
        data(){
            return {
                valid: true,
                email: '',
                emailRules: [
                    v=> !!v||'Email required',
                    v=> /([a-zA-Z0-9_]{1,})(@)([a-zA-Z0-9_]{2,})+/.test(v) || 'Email must be valid'
                ],
                name: '',
            }
        },
        computed: {
        },
        methods: {
            ...mapActions({
                setAlert : 'alert/set'
            }),
            submit(){
                if(this.$refs.form.validate()){
                    let formData = {
                        'email' : this.email,
                        'name'  : this.name
                    }

                    axios.post('api/auth/register', formData)
                    .then((response)=>{
                        let data = response.data
                        // console.log(data.response_code)
                        if(data.response_code == '00'){
                            this.setAlert({
                                status: true,
                                color: 'success',
                                text: 'Register success. Please check your email'
                            })
                            this.close()
                        } else {
                            this.setAlert({
                                status: true,
                                color: 'error',
                                text: 'Register failed'
                            })
                        }
                        // this.close()
                    })
                    .catch((error)=>{
                        let responses = error.response

                        this.setAlert({
                            status: true,
                            text: responses.data.error,
                            color: 'error'
                        })
                    })
                }
            },
            close(){
                this.$emit('closed', false)
            }
        },
    }
</script>